.container{
    background: var(--White);
    font-family: var(--font-family-text);
    width: 45rem;
    color: var(--Wenge-Brown);
    padding: 2.2rem;
    margin: 4rem 0;
    border-radius: 2rem;
}

.container_recepie{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container_top_image{
    background: url("./../assets/images/image-omelette.jpeg") center center;
    width: 100%;
    height: 260px;
    background-size: cover;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
}

h1, h3{
    font-family: var(--font-family-main);
    font-weight: 400;
}

h1{
    font-size: 2.2rem;
}

h2{
    font-family: var(--font-family-text);
    color: var(--Dark-Raspberry);
    font-weight: 600;
}

h3{
    font-size: 1.8rem;
    color: var(--Nutmeg);
}

.container_recepie_ingres,
.container_recepie_ingrediant,
.container_recepie_instructions_nutrition_info{
    font-weight: 400;
    line-height: 1.4;
    margin-top: 1rem;
}

.container_recepie_preperation{
    background-color: var(--Rose-White);
    padding: 1.5rem 2rem;
    border-radius: 25px;
    line-height: 1.4;
}

.container_recepie_preperation ul,
.container_recepie_ingrediant ul,
.container_recepie_instructions_points ol{
    margin-top: 1rem;
}

.container_recepie_preperation li,
.container_recepie_ingrediant li,
.container_recepie_instructions_points li{
    margin: 1rem 1rem 0 1rem;
}

.container_recepie_preperation li > span,
.container_recepie_ingrediant li > span{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 1rem;
}

li::marker {
    color: var(--Dark-Raspberry);
    font-weight: 600;
  }

.container_recepie_instructions_nutrition_info_facts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.container_recepie_instructions_nutrition_info_facts_line{
    display: flex;
    flex-direction: row;
}

.container_recepie_instructions_nutrition_info_facts_line_type,
.container_recepie_instructions_nutrition_info_facts_line_amount{
    width:  50%;
    text-align: left;
    align-items: start;
    padding: 0 2rem;
}

.container_recepie_instructions_nutrition_info_facts_line_amount{
    font-weight: 700;
    color: var(--Dark-Raspberry);
}

hr {
    border: none;
    height: 1px; 
    background-color: var(--Light-Grey)
}


@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    .container_top_image{
        background: url("./../assets/images/image-omelette.jpeg") center center;
        width: 100%;
        height: 160px;
        background-size: cover;
        margin-bottom: 0;
        border-radius: 0;
    }
    .container_recepie{
        padding: 40px;
    }
}